/*Dit is voor de download CV pagina*/
.Download {
text-align:left;
margin-top:50px;
margin-left:30px;
}

.Download-Description{
    text-align:left;
    margin-right:800px;
}

/*Dit is voor de prikbord CV pagina*/
.Prikbord{
    text-align:center;
    margin-top:60px;
}

/*Dit is voor de admin CV pagina*/
.Admin{
    text-align:center;
    margin-top:60px;
}

.Admin-h1{
    text-align:center;
}

.Admin-h2{
    text-align:center;
}

.Admin-h3{
    text-align:center;
}

.Accounts{text-align:right;
}

.Vacature{text-align:right;
}

.CV{text-align:right;
}