.Download {
text-align:left;
margin-top:50px;
margin-left:30px;
}

.Download-Description{
    text-align:left;
    margin-right:800px;
}

.Prikbord{
    text-align:center;
    margin-top:60px;
}

.Admin{
    text-align:center;
    margin-top:60px;
}

.headerlogo {
    width: 100px;
    height: 100px;
}